<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${tile}"></title>
</head>
<body>
<h1 th:text="${errorMsg}"></h1>
    <table>

        <tr th:each="user:${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td><a th:href="@{'delete?id='+${user.id}}">删除</a></td>
            <td><a th:href="@{'update?id='+${user.id}}">修改</a></td>
        </tr>

    </table>
</body>
</html>